@media(max-width: 1199px) {
    .topbar-one{
        margin-bottom: 5px;
    } 
    .site-header{
        margin-bottom: 23px;
    }
    .mobile-nav-toggler{
        margin-top: 50px;
    }
     
}

@media(max-width: 770px){
    .service-one__single {
        flex: 1 1 100%!important;
        max-width: 100%!important;
    }    
}

@media(max-width: 1199px){
    .stricky-fixed{
        height: 150px;
        background-color: #fff;
    }
    .header-navigation .container .logo-box {
        position: relative !important;
    }
}

.logo-box{
    top: 60px!important;
}

.site-header__home-one .header-navigation .logo-box{
 background-color: #fff!important;
}

.site-header__header-one .header-navigation .logo-box{
 padding: 0!important;
}

.img-view{
    width: 100%;
    margin-bottom: 30px;
}

.img-view img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.site-footer {
    background-color: #000000 !important;
}

.team-one__about-page {
    background-color: #cc0e20 !important;
}

.admin-panel{
    padding: 3em;
}

.height185{
    min-height: 185px;
}

.marginbottom50{
    margin-bottom: 50px;;
}
